.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}
.button{
  background-image: linear-gradient(to right,rgb(56, 117, 187),rgb(53, 53, 17));
  padding: 15px;
  color: white;
  border:none;
  border-radius: 10px;
cursor: pointer;
}